
Project 2/persondetectionTrain/train_feats.mat

Project 2/persondetectionTrain/train_imgs.mat

Project 2/songTrain.mat

Project 2/hw5/bigdata2014_hw5_dataset.zip

Project 2/hw5/bigdata2014_hw5_dataset/hw5-dataset/shows.txt

Project 2/hw5/bigdata2014_hw5.pdf

Project 2/hw5/bigdata2014_hw5_dataset/hw5-dataset/bob.txt

Project 2/hw5/bigdata2014_hw5_dataset/hw5-dataset/testmatrix.txt

Project 2/hw5/bigdata2014_hw5_dataset/hw5-dataset/user-shows.txt

Project 2/hw5/hw5.aux

Project 2/hw5/hw5.log

Project 2/hw5/hw5.pdf

Project 2/hw5/hw5.synctex.gz

Project 2/hw5/hw5.m

Project 2/hw5/hw5.zip

Project 2/hw5/Readme.txt

Project 2/hw5/hw5.tex
